h1 {
color: #35ce66;
font-size: 100px;
background-image:  url("https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e35/17932073_1710701075889715_1624281198836580352_n.jpg?ig_cache_key=MTQ5NjAwODA1MTAxODQzNDIyMw%3D%3D.2");
width: 480px;
height: 480px;
}